@use "../mixins.scss";

.form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  .form__fieldset {
    @include mixins.fieldres;
  }

  .form__characteristics {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 13px;
    color: var(--black1);
    padding-bottom: 24px;
  }

  .form__characteristics-input {
    border: none;
    outline: 2px solid var(--grey6);
    font-size: 16px;
    text-transform: uppercase;
    color: var(--black1);
    font-family: var(--main-font);
    padding-left: 15px;
    padding-right: 15px;

    &:hover{
      outline: 2px solid var(--grey3);
    }

    &:focus-visible {
      outline: 2px solid var(--black1);
    }

    &:invalid {
      outline: 2px solid var(--red1);
    }
  }

  .form__name {
    justify-self: end;
    width: calc(229 / 280) * 100%;
    min-height: 45px;
  }

  .form__weight {
    justify-self: end;
    width: calc(204 / 280) * 100%;
    min-height: 45px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
  }

  .form__age {
    justify-self: end;
    width: calc(172 / 280) * 100%;
    min-height: 45px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
  }

  .form__goal {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 25px;
    color: var(--black2);

    &::before {
      content: "";
      position: absolute;
      width: 320px;
      height: 1px;
      background-color: var(--grey5);
      top: 0;
      left: -20px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 320px;
      height: 1px;
      background-color: var(--grey5);
      bottom: 0;
      left: -20px;
    }
  }

  .form__goal-wrapper {
    display: grid;
    color: var(--black3);
    font-size: 16px;
    line-height: 18px;
    row-gap: 26px;
    width: 100%;
    justify-content: start;
    padding-left: 45px;
  }

  .form__radio-label {
    position: relative;

    &:hover .radio {
      box-shadow: 0 0 0 1px var(--grey4);
    }

    &:disabled .radio {
      opacity: 0.3;
    }
  }

  .form__radio {
    position: absolute;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .radio {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='7' cy='7.27' rx='6.75' ry='6.77' fill='%2368B738'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .radio {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 50%;
    top: -6px;
    left: -45px;
    box-shadow: 0 0 0 1px var(--grey3) inset;
  }

  .form__contacts {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 26px;

    &::after {
      content: "";
      position: absolute;
      width: 99px;
      height: 2px;
      background-color: var(--green2);
      top: 44px;
      right: -20px;
    }
  }

  .form__contacts-title {
    margin: 0;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-transform: none;
    color: var(--default-black);
    margin-bottom: 35px;
  }

  .form__contacts-content {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    flex-wrap: wrap;
  }

  .form__contacts-input {
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--black1);
    font-family: var(--main-font);

    &:hover{
      outline: 2px solid var(--grey3);
    }

    &:focus-visible {
      outline: 2px solid var(--black1);
    }

    &:invalid {
      outline: 2px solid var(--red1);
    }
  }

  .form__contacts-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black1);

    &::after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .form__email {
    font-size: 16px;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 50px;
    text-transform: uppercase;
    width: calc((219 / 280) * 100%);
    min-height: 45px;
  }

  .form__email-text {
    &::after {
      right: 16px;
      left: auto;
      top: 17px;
      width: 19px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='14' viewBox='0 0 19 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23222' stroke-width='1.3' d='M.65 5.848v8M17.65 5.848v8M0 13.198h18M0 1.198h18M17.35 3.03 9 9.524.65 3.03V1.498h16.7V3.03Z'/%3E%3C/svg%3E");
    }
  }

  .form__tel {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    width: calc((204 / 280) * 100%);
    min-height: 45px;
    padding-left: 16px;
    padding-right: 50px;
  }

  .form__tel-text {
    &::after {
      right: 13px;
      left: auto;
      top: 13px;
      width: 20px;
      height: 21px;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)' fill='%23000'%3E%3Cpath d='M17.9 9.753H9.4v1.204h8.5l-2.1 2.107.9.903 3.1-3.11a.754.754 0 0 0 0-.904l-3.1-3.11-.9.903 2.1 2.007ZM8.1 19.787v-6.221a.653.653 0 0 0-.6-.602H3.1a1.226 1.226 0 0 0 1.2 1.204h2.5v5.017H3.1a1.784 1.784 0 0 1-1.728-1.02 1.801 1.801 0 0 1-.172-.686V3.431a1.78 1.78 0 0 1 .483-1.25A1.767 1.767 0 0 1 2.9 1.624h3.9v5.017H4.4a1.218 1.218 0 0 0-1.2 1.204h4.4a.649.649 0 0 0 .6-.602V.923A.863.863 0 0 0 7.5.32H3.1a2.99 2.99 0 0 0-2.151.81A3.01 3.01 0 0 0 0 3.23v13.948a2.91 2.91 0 0 0 .772 2.192 2.89 2.89 0 0 0 2.128.919h4.6a.499.499 0 0 0 .6-.502Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='translate(0 .32)' d='M0 0h20v20.069H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  .form__comments {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 23.5px;

    &::after {
      content: "";
      position: absolute;
      width: 158px;
      height: 2px;
      background-color: var(--green2);
      top: 40px;
      right: -20px;
    }
  }

  .form__comments-title {
    font-weight: 400;
    text-transform: none;
    font-size: 24px;
    line-height: 26px;
    color: var(--default-black);
    margin: 0;
    margin-bottom: 37px;
  }

  .form__comments-text {
    width: 100%;
    min-height: 150px;
    font-size: 16px;
    line-height: 18px;
    color: var(--black1);
    border: 1px solid var(--grey6);
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 12px;
    padding-bottom: 9px;
    letter-spacing: 0;
    word-spacing: 0;
    font-family: var(--main-font);
  }

  .form__additional {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 23px;

    &::after {
      content: "";
      position: absolute;
      width: 136px;
      height: 2px;
      background-color: var(--green2);
      top: 40px;
      right: -20px;
    }
  }

  .form__additional-title {
    text-align: left;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    color: var(--default-black);
    margin: 0;
    margin-bottom: 34px;
    text-transform: none;
  }

  .form__additional-wrapper {
    width: 100%;
    display: grid;
    row-gap: 26px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--default-black);
    padding-left: 45px;
    margin-bottom: 34px;
  }

  .form__checkbox-label {
    position: relative;

    &:hover .checkbox {
      box-shadow: 0 0 0 1px var(--grey4);
    }

    &:disabled .checkbox {
      opacity: 0.3;
    }
  }

  .form__checkbox {
    position: absolute;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .checkbox {
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11.718 1.3 5.27.25 6.457 7 14.094 18.25 1.366 17.2.094 7 11.718Z' fill='%2368B738'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .checkbox {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ffffff;
    top: -8px;
    left: -45px;
    box-shadow: 0 0 0 1px var(--grey3);
  }

  .form__submit-button {
    width: 100%;
    text-align: center;
  }

  .form__button {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    min-height: 40px;
    width: 100%;
    margin-bottom: 21px;
  }

  .form__note {
    text-transform: none;
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-family: var(--arial);
    color: var(--default-black);
  }

  @include mixins.tablet-w () {
    .form__characteristics {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 0;
      margin-bottom: 72px;
      font-size: 20px;
      line-height: 30px;
    }

    .form__characteristics-input {
      font-size: 20px;
      line-height: 30px;
      color: var(--black1);
      padding-left: 19px;
      padding-right: 19px;
    }

    .form__name-text {
      width: 53px;
      min-height: 30px;
    }

    .form__name {
      width: 567px;
      min-height: 52px;
    }

    .form__weight-text {
      width: 84px;
      min-height: 30px;
    }

    .form__weight {
      width: 536px;
      min-height: 52px;
    }

    .form__age-text {
      width: 120px;
      min-height: 30px;
    }

    .form__age {
      width: 497px;
      min-height: 52px;
    }

    .form__goal {
      padding: 0;
      font-size: 20px;
      line-height: 30px;
      padding-top: 30px;
      padding-left: 27px;
      padding-bottom: 30px;
      border: none;
      outline: 2px solid var(--grey6);
      color: var(--black3);
      margin-bottom: 75px;

      &::before, &::after {
        content: none;
      }
    }

    .form__goal-wrapper {
      font-size: 20px;
      line-height: 30px;
      padding-left: 87px;
      align-items: center;
      column-gap: 20px;
      row-gap: 26px;
    }

    .radio {
      width: 40px;
      height: 40px;
      top: -5px;
      left: -60px;
      box-shadow: 0 0 0 1px var(--grey3) inset;
    }

    .form__contacts {
      font-size: 20px;
      line-height: 30px;
      padding: 0;

      &::after {
        width: 145px;
        right: -65px;
        top: 24px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: var(--green2);
        left: -70px;
        top: 24px;
      }
    }

    .form__contacts-title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 76px;
      color: var(--default-black);
      text-transform: none;
    }

    .form__contacts-content {
      row-gap: 20px;
    }

    .form__contacts-text {
      font-size: 20px;
      line-height: 30px;
    }

    .form__contacts-input {
      font-size: 20px;
      line-height: 30px;
      color: var(--black1);
      padding-left: 21px;
    }

    .form__email-text {
      justify-content: space-between;
    }

    .form__email {
      width: 551px;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
    }

    .form__tel-text {
      justify-content: space-between;
    }

    .form__tel {
      width: 535px;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
    }

    .form__comments {
      padding: 0;
      padding-top: 65px;

      &::after {
        width: 145px;
        right: -65px;
        top: 89px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: var(--green2);
        left: -70px;
        top: 89px;
      }
    }

    .form__comments-title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 76px;
      text-transform: none;
    }

    .form__comments-text {
      font-size: 20px;
      line-height: 30px;
      color: var(--black1);
      width: 100%;
      min-height: 174px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 19px;
      padding-right: 19px;
    }

    .form__additional {
      padding-top: 65px;
      padding-bottom: 54px;

      &::after {
        width: 145px;
        right: -65px;
        top: 89px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: var(--green2);
        left: -70px;
        top: 89px;
      }
    }

    .form__additional-title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 57px;
    }

    .form__additional-wrapper {
      width: calc((565 / 628) * 100%);
      display: grid;
      grid-template-columns: 221px 221px;
      row-gap: 32px;
      column-gap: 124px;
      font-size: 20px;
      line-height: 30px;
      padding-left: 59px;
    }

    .checkbox {
      width: 40px;
      height: 40px;
      top: -5px;
      left: -59px;
    }

    .form__submit-button {
      width: calc((565 / 628) * 100%);
      display: flex;
      flex-wrap: wrap;
    }

    .form__button {
      margin: 0;
      width: calc((282 / 565) * 100%);
      min-height: 52px;
      font-size: 20px;
      line-height: 1;
      margin-right: 61px;
    }

    .form__note {
      align-self: center;
      font-size: 16px;
      line-height: 16px;
    }
  }

  @include mixins.desktop-w () {

    .form__characteristics {
      row-gap: 20px;
      width: calc((569 / 1218) * 100%);
      min-height: 200px;
      margin-bottom: 0;
    }

    .form__name-text {
      width: 50px;
    }

    .form__characteristics-input {
      font-size: 20px;
      line-height: 30px;
      color: var(--black1);
    }

    .form__name {
      padding-left: 20px;
      padding-right: 20px;
      width: 506px;
    }

    .form__weight-text {
      width: 80px;
    }

    .form__weight {
      padding-left: 19px;
      padding-right: 19px;
      width: 475px;
    }

    .form__age-text {
      width: 120px;
    }

    .form__age {
      padding-left: 18px;
      padding-right: 18px;
      width: 436px;
    }

    .form__goal {
      min-height: 200px;
      width: calc((569 / 1218) * 100%);
      margin-bottom: 0;
    }

    .form__contacts {
      padding-top: 69px;

      &::before {
        width: 70px;
        left: -110px;
        top: 93px;
      }

      &::after {
        width: 778px;
        right: -110px;
        top: 93px;
      }
    }

    .form__contacts-content {
      flex-direction: row;
      justify-content: space-between;
    }

    .form__email-text {
      justify-content: flex-start;
    }

    .form__contacts-input {
      font-size: 20px;
      line-height: 30px;
      color: var(--black1);
      padding-left: 18px;
    }

    .form__email {
      margin-bottom: 0;
      margin-left: 20px;
      width: 486px;
    }

    .form__tel-text {
      justify-content: flex-start;
    }

    .form__tel {
      margin-left: 20px;
      width: 472px;
    }

    .form__comments {
      padding: 0;
      padding-top: 69px;

      &::before {
        width: 70px;
        background-color: var(--green2);
        left: -110px;
        top: 93px;
      }

      &::after {
        width: 1108px;
        background-color: var(--green2);
        right: -110px;
        top: 93px;
      }
    }

    .form__comments-title {
      margin-bottom: 76px;
    }

    .form__comments-text {
      font-size: 20px;
      line-height: 30px;
      color: var(--black1);
      width: 100%;
      min-height: 174px;
    }

    .form__additional {
      padding-top: 67px;
      padding-bottom: 61px;

      &::before {
        width: 70px;
        left: -110px;
        top: 91px;
      }

      &::after {
        width: 1078px;
        right: -110px;
        top: 91px;
      }
    }

    .form__additional-title {
      margin-bottom: 57px;
    }

    .form__additional-wrapper {
      width: 100%;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: 40px;
      row-gap: 32px;
      column-gap: 104px;
      margin-bottom: 0;
    }

    .form__submit-button {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .form__button {
      min-height: 52px;
      margin: 0;
      margin-right: 82px;
    }

    .form__note {
      font-size: 16px;
      line-height: 16px;
    }
  }
}
