@use "../mixins.scss";

.form {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  .form__fieldset {
    @include mixins.fieldres;
  }

  .form__characteristics {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 13px;
    color: var(--black1);
    padding-bottom: 24px;
  }

  .form__name {
    justify-self: end;
    width: calc(229 / 280) * 100%;
    min-height: 45px;
  }

  .form__weight {
    justify-self: end;
    width: calc(204 / 280) * 100%;
    min-height: 45px;
  }

  .form__age {
    justify-self: end;
    width: calc(172 / 280) * 100%;
    min-height: 45px;
  }

  .form__goal {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 157px;
    padding-top: 22px;
    padding-bottom: 19px;
    padding-left: 45px;
    color: var(--black2);
  }

  .form__goal-wrapper {
    display: grid;
    font-size: 16px;
    line-height: 18px;
    row-gap: 26px;
    width: 100%;
    justify-content: start;
  }

  .form__radio-label {
    position: relative;

    &:hover .radio {
      box-shadow: 0 0 0 1px var(--grey4);
    }

    &:disabled .radio {
      opacity: 0.3;
    }
  }

  .form__radio {
    position: absolute;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .radio {
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='7' cy='7.27' rx='6.75' ry='6.77' fill='%2368B738'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .radio {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 50%;
    top: -7.5px;
    left: -45px;
    box-shadow: 0 0 0 1px var(--grey3) inset;
  }

  .form__contacts {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 26px;
    padding-bottom: 23px;
  }

  .form__contacts-title {
    margin: 0;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-transform: none;
    color: var(--default-black);
    margin-bottom: 35px;
  }

  .form__contacts-content {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    flex-wrap: wrap;
  }

  .form__email-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black1);
  }

  .form__email {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 50px;
    text-transform: uppercase;
    width: calc((219 / 280) * 100%);
    min-height: 45px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='14' viewBox='0 0 19 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23222' stroke-width='1.3' d='M.65 5.848v8M17.65 5.848v8M0 13.198h18M0 1.198h18M17.35 3.03 9 9.524.65 3.03V1.498h16.7V3.03Z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      width: 19px;
      height: 13px;
      right: 0;
      top: 0;
    }
  }

  .form__tel-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black1);
  }

  .form__tel {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    width: calc((204 / 280) * 100%);
    min-height: 45px;
  }

  .form__comments {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 23px;
  }

  .form__comments-title {
    font-weight: 400;
    text-transform: none;
    font-size: 24px;
    line-height: 26px;
    color: var(--default-black);
    margin-bottom: 37px;
  }

  .form__comments-text {
    width: 100%;
    min-height: 150px;
  }

  .form__additional {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 45px;
  }

  .form__additional-title {
    font-size: 24px;
    line-height: 26px;
    color: var(--default-black);
    margin-bottom: 34px;
  }

  .form__additional-wrapper {
    width: 100%;
    display: grid;
    row-gap: 26px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--default-black);
    margin-bottom: 34px;
  }

  .form__checkbox-label {
    position: relative;

    &:hover .checkbox {
      box-shadow: 0 0 0 1px var(--grey4);
    }

    &:disabled .checkbox {
      opacity: 0.3;
    }
  }

  .form__checkbox {
    position: absolute;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

    &:checked + .checkbox {
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11.718 1.3 5.27.25 6.457 7 14.094 18.25 1.366 17.2.094 7 11.718Z' fill='%2368B738'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .checkbox {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ffffff;
    top: -8px;
    left: -45px;
    box-shadow: 0 0 0 1px var(--grey3);
  }

  @include mixins.tablet-w () {
    .form__characteristics {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 0;
      margin-bottom: 72px;
      font-size: 20px;
      line-height: 30px;
    }

    // как убрать выпадание не знаю, столбцы раздвигаются друг от друга и дети выпадают
    .form__name-text {
      width: 53px;
      min-height: 30px;
    }

    .form__name {
      width: 567px;
      min-height: 52px;
      border: none;
      outline: 2px solid var(--black1);
    }

    .form__weight-text {
      width: 84px;
      min-height: 30px;
    }

    .form__weight {
      width: 536px;
      min-height: 52px;
      border: none;
      outline: 2px solid var(--black1);
    }

    .form__age-text {
      width: 120px;
      min-height: 30px;
    }

    .form__age {
      width: 497px;
      min-height: 52px;
      border: none;
      outline: 2px solid var(--black1);
    }

    .form__goal {
      padding: 0;
      font-size: 20px;
      line-height: 30px;
      padding-top: 25px;
      padding-left: 27px;
      padding-bottom: 25px;
      border: none;
      outline: 2px solid var(--black1);
      width: 100%;
      color: var(--black3);
      margin-bottom: 75px;
    }

    .form__goal-wrapper {
      align-items: center;
      column-gap: 20px;
      row-gap: 13px;
      padding-bottom: 25px;
    }

    .form__contacts {
      font-size: 20px;
      line-height: 30px;
      padding: 0;
      margin-bottom: 65px;
    }

    .form__contacts-title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 76px;
      color: var(--default-black);
      text-transform: lowercase;
    }

    .form__email-text {
      justify-content: space-between;
    }

    .form__email {
      width: 551px;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
    }

    .form__tel-text {
      justify-content: space-between;
    }

    .form__tel {
      width: 535px;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
    }

    .form__comments {
      padding: 0;
      margin-bottom: 65px;
    }

    .form__comments-title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 76px;
      text-transform: lowercase;
    }

    .form__comments-text {
      width: 100%;
      min-height: 174px;
    }

    .form__additional {
      margin-bottom: 54px;
    }

    .form__additional-title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 57px;
    }

    .form__additional-wrapper {
      width: 565px;
      display: grid;
      grid-template-columns: 221px 221px;
      grid-template-rows: 40px 40px;
      row-gap: 32px;
      column-gap: 124px;
      font-size: 20px;
      line-height: 30px;
    }

    .form__submit-button {
      width: 565px;
      display: flex;
      flex-wrap: wrap;
    }

    .form__button {
      min-width: 282px;
      min-height: 52px;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      margin-right: 61px;
    }

    .form__note {
      font-size: 16px;
      line-height: 16px;
    }
  }

  @include mixins.desktop-w () {
    .form__characteristics {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 82px;
      width: 569px;
    }

    .form__name-text {
      width: 50px;
    }

    .form__name {
      width: 506px;
    }

    .form__weight-text {
      width: 80px;
    }

    .form__weight {
      width: 475px;
    }

    .form__age-text {
      width: 120px;
    }

    .form__age {
      width: 436px;
    }

    .form__goal {
      padding: 0;
      padding-top: 30px;
      padding-left: 28px;
      padding-bottom: 25px;
      width: 568px;
      margin-bottom: 69px;
    }

    .form__goal-wrapper {
      align-items: center;
      column-gap: 20px;
      row-gap: 13px;
      padding-bottom: 25px;
    }

    .form__contacts {
      margin-bottom: 69px;
    }

    .form__contacts-content {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      line-height: 30px;
      text-transform: uppercase;
      margin-bottom: 69px;
    }

    .form__email-text {
      justify-content: flex-start;
    }

    .form__email {
      margin-bottom: 0;
      margin-left: 20px;
      width: 486px;
    }

    .form__tel-text {
      justify-content: flex-start;
    }

    .form__tel {
      margin-left: 20px;
      width: 472px;
    }

    .form__comments {
      padding: 0;
      margin-bottom: 67px;
    }

    .form__comments-title {
      margin-bottom: 76px;
      text-transform: lowercase;
    }

    .form__comments-text {
      width: 100%;
      min-height: 174px;
    }

    .form__additional {
      margin-bottom: 61px;
    }

    .form__additional-title {
      margin-bottom: 57px;
    }

    .form__additional-wrapper {
      width: 100%;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: 40px;
      row-gap: 32px;
      column-gap: 104px;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 0;
    }

    .form__submit-button {
      width: 565px;
      display: flex;
      flex-wrap: wrap;
    }

    .form__button {
      min-width: 282px;
      min-height: 52px;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      margin-right: 82px;
    }

    .form__note {
      font-size: 16px;
      line-height: 16px;
    }
  }
}
