@use "../mixins.scss";

.questionnaire {

  width: 100%;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;

  .questionnaire__title {
    margin: 0;
    width: 260px;
    margin-bottom: 38px;
  }

  .questionnaire__text {
    margin: 0;
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--default-black);
    margin-bottom: 38px;
  }

  .questionnaire__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form__contacts {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 26px;
    padding-bottom: 23px;
  }

  .form__contacts-title {
    display: block;
    width: 100%;
    font-size: 24px;
    line-height: 26px;
    color: var(--default-black);
    margin-bottom: 35px;
  }

  .form__email-text {
    display: flex;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black1);
    margin-bottom: 14px;
  }

  .form__tel-text {
    display: flex;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black1);
  }

  .form__comments {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 23px;

  }

  .form__comments-title {
    font-size: 24px;
    line-height: 26px;
    color: var(--default-black);
    margin-bottom: 37px;
  }

  .form__comments-text {
    width: 100%;
    min-height: 150px;
  }

  .form__additional {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .form__additional-title {
    font-size: 24px;
    line-height: 26px;
    color: var(--default-black);
    margin-bottom: 34px;
  }

  .form__additional-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 13px;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--default-black);
    margin-bottom: 34px;
  }

  .form__submit-button {
    min-height: 109px;
    min-width: 280px;
    padding-bottom: 32px;
  }

  .form__button {
    @include mixins.btnres;
    background-color: var(--green2);
    min-width: 280px;
    min-height: 40px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 21px;
  }

  .form__note {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: lowercase;
    color: var(--default-black);
  }
}
