@use "../mixins.scss";

.questionnaire {

  width: 100%;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 32px;

  .questionnaire__title {
    margin: 0;
    width: 100%;
    margin-bottom: 38px;
  }

  .questionnaire__text {
    margin: 0;
    display: block;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--default-black);
    margin-bottom: 38px;
  }

  .questionnaire__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @include mixins.tablet-w () {
    padding-top: 65px;
    padding-left: var(--tablet-form-l-padding);
    padding-right: var(--tablet-form-r-padding);
    padding-bottom: 72px;

    .questionnaire__title {
      font-size: 60px;
      line-height: 60px;
      color: var(--default-black);
      margin-bottom: 54px;
    }

    .questionnaire__text {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 66px;
      width: 323px;
    }
  }

  @include mixins.desktop-w () {
    padding-top: 77px;
    padding-left: var(--desktop-padding);
    padding-right: var(--desktop-padding);
    padding-bottom: 69px;

    .questionnaire__title {
      margin-bottom: 57px;
    }

    .questionnaire__text {
      margin-bottom: 66px;
      width: 323px;
    }

    .questionnaire__form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 80px;
    }
  }
}
