.invite-description {
  width: 100%;
  max-width: 320px;
  display: flex;
  padding: 26px var(--mobile-padding);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;

  .invite-description__info {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--black2);
    width: 140px;
    word-wrap: break-word;

    span {
      display: block;
    }
  }

  .invite-description__address {
    font-family: var(--arial);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--black1);
    width: 140px;
  }

  @include tablet-w () {
    padding: 56px var(--tablet-form-l-padding);
    min-height: 198px;
    max-width: 768px;

    .invite-description__info {
      width: 172px;
      font-size: 20px;
      line-height: 26px;
    }

    .invite-description__address {
      width: 160px;
      font-size: 16px;
      line-height: 20px;
      text-align: right;

      span {
        display: block;
        margin-top: 20px;
      }
    }
  }

  @include desktop-w () {
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 76px;
    width: 565px;
    min-height: 198px;

    .invite-description__address {
      text-align: left;
    }
  }
}
