Ñ‡.main-nav {
  width: 100%;
  position: absolute;
  right: 0;
  top: 65px;
  min-height: 65px;

  .main-nav__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--default-white);
    font-size: 20px;
    line-height: 20px;
    color: var(--default-black);
    font-weight: 500;
  }

  .main-nav__menu-opener {
    @include btnres();

    position: absolute;
    top: -42px;
    right: 20px;
    z-index: 3;
    display: block;
    width: 24px;
    min-height: 16px;
    cursor: pointer;
    background-color: #ffffff;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--closed .main-nav__menu-opener {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 2px;
      box-shadow:
        0 2px 0 0 #000000 inset,
        0 7px 0 0 #000000,
        0 14px 0 0 #000000;
    }
  }

  &--opened .main-nav__menu-opener {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: calc(16px / 2 - 2px / 2);
      left: 0;
      width: 24px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }


  .main-nav__link {
    position: relative;
    z-index: 1;
    width: 100%;
    padding-top: 23px;
    padding-bottom: 23px;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      color: rgb(0, 0, 0, 0.6);
    }

    &:active {
      color: rgb(0, 0, 0, 0.3);
    }
  }

  .main-nav__name {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: auto;
      left: 1.5px;
      right: 1.5px;
      bottom: -8px;
      height: 2px;
      background-color: var(--green2);
      opacity: 0;
    }
  }

  @include tablet-w () {
    margin-top: 20px;
    min-height: auto;
    position: static;
    width: auto;

    .main-nav__menu-opener {
      display: none;
    }

    .main-nav__wrapper {
      flex-direction: row;
      align-items: center;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
    }

    .main-nav__link {
      padding: 0;
      width: auto;

      &--active .main-nav__name::after {
        opacity: 1;
      }
    }

    .main-nav__index-link {
      margin-right: 36px;
    }

    .main-nav__catalog-link {
      margin-right: 36px;
    }
  }

  @include desktop-w () {
    margin-top: 18px;

    .main-nav__wrapper {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: var(--black2);
    }

    .main-nav__wrapper .main-nav__link-white {
      color: var(--default-white);
    }

    .main-nav__index-link {
      margin-right: 35px;
    }

    .main-nav__catalog-link {
      margin-right: 32px;
    }

    .main-nav__link {
      padding: 0;
    }

    .main-nav__link-white.main-nav__link {
      &:hover {
        color: rgb(255, 255, 255, 0.6);
      }

      &:active {
        color: rgb(255, 255, 255, 0.3);
      }

      &--active .main-nav__name::after {
        opacity: 1;
        background-color: var(--default-white);
      }
    }
  }
}

@include mobile-w-only () {
  .main-nav--closed .main-nav__link {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    min-height: 198px;
  }

  .main-nav--opened .main-nav__link {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: var(--grey10);
      top: -1px;
      left: 0;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: var(--grey10);
      bottom: 0;
      left: 0;
      z-index: 2;
    }
  }

  .main-nav--nojs {
    position: static;

    .main-nav__menu-opener {
      display: none;
    }
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__link {
    display: block;
  }

  .main-nav--nojs .main-nav__link--active {
    padding-left: 105px;
    padding-right: 105px;
    text-align: center;
  }

  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #6a4d38;
  }
}
