.map {
  width: 100%;
  height: 362px;

  .map__image {
    position: relative;
    border: none;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}

@include tablet-w () {
  .map {
    width: 100%;
    min-height: 400px;
  }
}

@include desktop-w () {
  .map {
    width: 100%;
    height: 400px;
  }
}
