.additional {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 26px;

  .additional__title {
    font-size: 24px;
    line-height: 1;
    text-align: center;
    margin: 0;
    color: var(--default-black);
    margin-bottom: 35px;
  }

  .additional__card {
    min-width: 282px;
    display: flex;
    flex-direction: column;
  }

  .additional__name {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    color: var(--black3);
    margin-bottom: 13px;
  }

  .additional__composition {
    display: flex;
    justify-content: space-between;
    font-family: var(--arial);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: var(--black1);
    margin-bottom: 15px;
  }

  .additional-button {
    display: block;
    box-sizing: content-box;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    min-width: 62px;
    min-height: 20px;
    padding: 10px 109px;
    margin-bottom: 19px;
  }

  .additional__gift {
    position: relative;
    z-index: 0;
    background-image: url("../../img/mobile/catalog/additional-background.jpg");
    background-repeat: no-repeat;
    min-width: 280px;
    padding-top: 187px;
    margin-top: 35px;
    margin-bottom: 35px;

    .additional__gift-title {
      width: 100%;
      position: relative;
      margin: 0;
      margin: 0 auto;
      z-index: 1;
      font-family: var(--arial);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      width: 160px;
      line-height: 1;
      text-align: center;
      color: var(--default-white);
    }
  }

  .additional__gift::before {
    content: "";
    position: absolute;
    background-color: var(--green1);
    inset: 0;
    z-index: 0;
  }
}
