@use "../mixins.scss";

.additional {
  position: relative;
  width: 100%;
  padding: 0 var(--mobile-padding);
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  padding-bottom: 35px;

  &::before {
    content: "";
    position: absolute;
    width: 53px;
    height: 2px;
    background-color: var(--green2);
    top: 42px;
    right: 0;
  }

  .additional__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    text-align: left;
    margin: 0;
    color: var(--default-black);
    margin-bottom: 35px;
  }

  .additional__card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 13px;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: var(--grey3);
      top: 0;
      left: 0;
    }
  }

  .additional__name {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    color: var(--black3);
    margin-bottom: 13px;
  }

  .additional__composition {
    display: flex;
    justify-content: space-between;
    font-family: var(--arial);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: var(--black1);
    margin-top: 0;
    margin-bottom: 15px;
  }

  .additional-button {
    display: block;
    box-sizing: content-box;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    min-width: 62px;
    min-height: 20px;
    padding: 10px 109px;
    margin-bottom: 19px;
  }

  .additional__gift {
    position: relative;
    z-index: 0;
    background-image: url("../../img/mobile/catalog/additional-background.jpg");
    background-repeat: no-repeat;
    width: 280px;
    padding-top: 187px;
    padding-bottom: 35px;

    &::before {
      content: "";
      position: absolute;
      background-color: var(--green1);
      inset: 0;
      z-index: 0;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='78' height='80' viewBox='0 0 78 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64.016 34.713H14.03c-1.754 0-3.182-1.418-3.182-3.16v-9.469c0-1.742 1.428-3.16 3.182-3.16h49.984c1.754 0 3.18 1.418 3.18 3.16v9.469c0 1.742-1.426 3.16-3.18 3.16ZM14.03 21.346a.751.751 0 0 0-.744.738v9.469c0 .407.334.738.744.738h49.984c.41 0 .743-.331.743-.738v-9.469a.75.75 0 0 0-.743-.738H14.03Z' fill='%23fff'/%3E%3Cpath d='M57.045 67.149H20.999c-3.377 0-6.125-2.73-6.125-6.086V33.502c0-.669.546-1.212 1.219-1.212s1.219.543 1.219 1.212v27.56c0 2.021 1.654 3.665 3.687 3.665h36.046c2.032 0 3.686-1.644 3.686-3.664V33.502c0-.669.546-1.212 1.219-1.212.672 0 1.218.543 1.218 1.212v27.56c0 3.357-2.747 6.087-6.123 6.087Z' fill='%23fff'/%3E%3Cpath d='M39.023 67.149a1.215 1.215 0 0 1-1.22-1.211V33.502c0-.669.547-1.212 1.22-1.212.672 0 1.218.543 1.218 1.212v32.435c0 .67-.545 1.212-1.218 1.212ZM23.811 21.341c-3.814-2.054-5.238-6.808-3.173-10.6 2.064-3.789 6.848-5.204 10.665-3.154 5.814 3.13 8.954 11.86 9.084 12.23l-2.3.804c-.029-.083-2.961-8.222-7.944-10.904-2.635-1.415-5.937-.438-7.36 2.177-1.426 2.618-.444 5.9 2.19 7.318l-1.162 2.13Z' fill='%23fff'/%3E%3Cpath d='m54.231 21.341-1.16-2.13a5.376 5.376 0 0 0 2.622-3.207 5.327 5.327 0 0 0-.431-4.109 5.382 5.382 0 0 0-3.226-2.604 5.426 5.426 0 0 0-4.134.426c-4.982 2.682-7.915 10.82-7.944 10.903l-2.3-.803c.131-.37 3.27-9.101 9.084-12.23a7.859 7.859 0 0 1 5.99-.617 7.8 7.8 0 0 1 4.674 3.771 7.72 7.72 0 0 1 .623 5.953 7.788 7.788 0 0 1-3.798 4.647ZM61.95 50.931H16.093a1.215 1.215 0 0 1-1.219-1.21c0-.67.546-1.212 1.219-1.212H61.95c.672 0 1.218.543 1.218 1.211 0 .669-.545 1.211-1.218 1.211Z' fill='%23fff'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      width: 78px;
      height: 80px;
      inset: 0;
      margin: 0 auto;
      top: 59px;
    }

    @include mixins.retina () {
      background-image: url("../../img/mobile/catalog/additional-background2x.png");
      background-size: cover;
    }
  }

  .additional__gift-title {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    font-family: var(--arial);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 160px;
    line-height: 1;
    text-align: center;
    color: var(--default-white);
  }

  @include mixins.tablet-w () {
    margin: 0;
    padding: 0 var(--tablet-padding);
    padding-top: 68px;
    padding-bottom: 93px;

    &::before {
      width: 328px;
      top: 91px;
      right: 0;
    }

    &::after {
      content: "";
      position: absolute;
      background-color: var(--green2);
      height: 2px;
      width: 30px;
      top: 91px;
      left: 0;
    }

    .additional__title {
      font-size: 36px;
      line-height: 36px;
      text-align: left;
      margin-bottom: 80px;
    }

    .additional__content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .additional__content-card {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-bottom: 69px;
    }

    .additional__card {
      min-width: 282px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 38px;
      padding-top: 26px;
      padding-bottom: 28px;
      box-shadow: 0 0 0px 1px var(--grey3) inset;

      &::before {
        content: none;
      }
    }

    .additional__name {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 0;
      margin-right: auto;
    }

    .additional__composition {
      justify-content: flex-start;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 22px;
    }

    .additional__quantity {
      margin-right: 50px;
    }
    //здесь надо кучу стилей писать
    .additional-button {
      margin: 0 auto;
      text-align: center;
      min-width: 192px;
      min-height: 26px;
      padding: 7px 220px;
    }

    .additional__gift {
      background-image: url("../../img/tablet/catalog/additional-background-tablet.png");
      background-size: 707px 200px;
      margin: 0;
      width: 100%;
      padding-top: 71px;
      padding-bottom: 0;
      padding-left: 422px;

      &::before {
        width: 707px;
        height: 200px;
      }

      &::after {
        left: 77px;
        top: 57px;
        margin: 0;
      }

      @include mixins.retina () {
        background-image: url("../../img/tablet/catalog/additional-background-tablet2x.png");
      }
    }

    .additional__gift-title {
      margin-bottom: 69px;
      line-height: 20px;
      width: 161px;
    }
  }

  @include mixins.desktop-w () {
    margin: 0;
    padding: 0 var(--desktop-padding);
    padding-top: 76px;
    padding-bottom: 86px;

    &::before {
      width: 957px;
      top: 100px;
    }

    &::after {
      width: 70px;
      top: 100px;
    }

    .additional__title {
      margin-bottom: 81px;
    }

    .additional__content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    .additional__content-card {
      position: relative;
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: calc((869 / 1220) * 100%);
      margin-bottom: 0;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--grey3);
        bottom: 0;
        left: 0;
      }
    }

    .additional__card {
      padding: 0;
      padding-top: 15px;
      padding-bottom: 17px;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      box-shadow: none;

      &::before {
        content: "";
      }
    }

    .additional__name {
      margin-bottom: 0;
    }

    .additional__composition {
      margin: 0;
      margin-right: 38px;
    }

    .additional-button {
      padding: 7px 26px;
      margin: 0;
    }

    .additional__gift {
      padding: 0;
      margin: 0;
      width: calc((245 / 1220) * 100%);
      padding-top: 184px;
      margin-bottom: 0;
      background-image: url("../../img/desktop/catalog/gift-background-desktop.png");
      background-size: 245px 289px;

      @include mixins.retina () {
        background-image: url("../../img/desktop/catalog/gift-background-desktop2x.png");
        background-size: cover;
      }

      &::before {
        width: 100%;
        height: auto;
      }
    }

    .additional__gift-title {
      width: 161px;
      margin-bottom: 42px;
    }
  }
}
