@use "../mixins.scss";

.products {
  width: 100%;
  padding: 0 var(--mobile-padding);
  padding-top: 29px;

  .products__title {
    position: relative;
    color: var(--default-black);
    margin: 0;
    min-width: 258px;
    margin-bottom: 40px;

    &::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 320px;
      background-color: var(--grey5);
      top: -29px;
      left: -20px;
    }
  }

  .products__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 324px));
  }

  .products__product-cell {
    position: relative;
    padding-top: 8px;
    padding-bottom: 11px;

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 320px;
      background-color: var(--grey5);
      top: 0;
      left: -20px;
    }
  }

  .products__table {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 14px;
    display: grid;
    grid-template-columns: 140px 142px;
    row-gap: 10px;
  }

  .products__image-wrapper {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .products__name {
    display: block;
    margin: 0;
    margin-top: 19px;
    margin-bottom: 8px;
  }

  .products__parameters {
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-bottom: 12px;
    font-family: var(--arial);
    font-size: 12px;
    line-height: 16px;
  }

  .products__button {
    grid-column-start: 1;
    grid-column-end: -1;
    justify-self: center;
    display: block;
    box-sizing: content-box;
    min-height: 20px;
    padding: 10px 109px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .products__product-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 279px;
    padding-top: 78px;
  }

  .products__product-text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black2);
    margin: 0;
    margin-bottom: 8px;
  }

  .products__product-small-talk {
    font-family: var(--arial);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--black1);
    margin: 0;
    margin-bottom: 18px;
  }

  .products__more-button {
    min-width: 280px;
    min-height: 40px;
    margin-bottom: 25px;

    @include mixins.btnres;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--black1);
  }

  @include mixins.tablet-w () {
    padding: 0 var(--tablet-padding);
    padding-top: 65px;
    padding-bottom: 68px;

    .products__title {
      font-size: 60px;
      line-height: 60px;
      margin: 0;
      min-width: 258px;
      margin-bottom: 82px;
    }

    .products__content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(245px, 324px));
      column-gap: 60px;
    }

    .products__product-cell {
      padding: 0 36px;
      padding-top: 8px;
      padding-bottom: 39px;
    }

    .products__table {
      padding: 0;
      width: 100%;
      display: grid;
      grid-template-columns: 252px;
      row-gap: 0;
      justify-content: center;
    }

    .products__image-wrapper {
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .products__name {
      width: 174px;
      margin: 0;
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 2;
      grid-row-end: 3;
      margin-bottom: 21px;
    }

    .products__parameters {
      margin: 0;
      margin-bottom: 12px;
      grid-column-start: 1;
      grid-column-end: -1;
      grid-row-start: 3;
      grid-row-end: 4;
      font-size: 16px;
      line-height: 16px;
      justify-content: space-between;
    }

    .products__button {
      justify-self: center;
      padding: 10px 93px;
    }

    .products__product-more {
      padding-top: 161px;
    }

    .products__product-text {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 23px;
    }

    .products__product-small-talk {
      line-height: 18px;
      margin-bottom: 87px;
    }

    .products__more-button {
      width: 249px;
      min-height: 40px;
      margin-bottom: 38px;
    }
  }

  @include mixins.desktop-w () {
    padding: 0 var(--desktop-padding);
    padding-top: 74px;
    padding-bottom: 75px;

    .products__title {
      margin-bottom: 84px;
    }

    .products__content {
      display: grid;
      grid-template-columns: repeat(auto-fill, 245px);
      column-gap: 80px;
    }

    .products__product-cell {
      padding: 0;
      padding-bottom: 40px;
      min-height: 511px;
    }

    .products__table {
      padding: 0;
      width: 180px;
      row-gap: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      justify-content: flex-start;
      min-height: 100%;
    }

    .products__name {
      width: 145px;
      margin: 0 auto;
      margin-bottom: 21px;
    }

    .products__parameters {
      width: 169px;
      margin: 0 auto;
      margin-bottom: auto;
      justify-content: space-between;
    }

    .products__button {
      padding: 10px 53px;
    }

    .products__product-more {
      width: 245px;
      padding-top: 160px;
    }

    .products__product-text {
      width: 134px;
      line-height: 22px;
      margin-bottom: 23px;
    }

    .products__product-small-talk {
      width: 167px;
      margin-bottom: 87px;
    }

    .products__more-button {
      width: 169px;
      min-height: 40px;
      margin-bottom: 41px;
    }
  }
}
