@use "../mixins.scss";

.product {
  .product__name {
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-transform: uppercase;
    color: var(--black3);
  }

  .products__parameters {
    font-family: var(--arial);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: var(--black1);
  }

  @include mixins.tablet-w () {
    .product__name {
      font-size: 20px;
      line-height: 24px;
    }
  }

  @include mixins.desktop-w () {
    .product__name {
      font-size: 20px;
      line-height: 21px;
    }
  }
}
