// global
@use "fonts";
@use "reboot";

//mixins
@use "mixins";

//var
@use "variables";

// blocks
//index
@use "index/page";
@use "index/main-header";
@use "index/main-nav";
@use "index/main-container";
@use "index/motivation";
@use "button";
@use "index/program";
@use "index/specification";
@use "index/example";
@use "index/fat-cat-logo";
@use "index/skinny-cat-logo";
@use "index/slider-toggles";
@use "index/invite";
@use "index/invite-description";
@use "index/map";
@use "index/main-footer";
@use "index/footer-logo";
@use "index/contacts";
@use "index/footer-references";
@use "index/main-footer-grey.scss";
@use "catalog/products";
@use "catalog/title";
@use "catalog/product";
@use "catalog/additional";
@use "form/questionnaire";
@use "form/form";
