// global
@import "fonts";
@import "reboot";

//mixins
@import "mixins";

//var
@import "variables";

// blocks
@import "blocks/center-positioner";
@import "blocks/main-header";
@import "blocks/main-nav";
@import "blocks/main-container";
@import "blocks/motivation";
@import "blocks/button";
@import "blocks/program";
@import "blocks/specification";
@import "blocks/example";
@import "blocks/invite";
@import "blocks/invite-description";
@import "blocks/map";
@import "blocks/main-footer";
@import "blocks/main-footer-grey.scss";
@import "blocks/products";
@import "blocks/title";
@import "blocks/product";
@import "blocks/additional";
@import "blocks/questionnaire";
@import "blocks/form";
