:root {
  //colors
  --main-font: "Oswald", "Arial", "sans-serif";
  --default-black: #000000;
  --black1: #444444;
  --black2: #111111;
  --black3: #222222;
  --grey1: #f2f2f2;
  --grey2: #eaeaea;
  --grey3: #cdcdcd;
  --grey4: #bababa;
  --grey5: #d9d9d9;
  --grey6: #e7e7e7;
  --grey7: #d3d3d3;
  --grey8: #ebebeb;
  --default-white: #ffffff;
  --background-page: #e5e5e5;
  --green1: rgba(104, 183, 56, 0.85);
  --green2: #68b738;
  --arial: "Arial", "sans-serif", "Verdana";
  --tablet-width: 768px;
  --desktop-width: 1440px;
  --mobile-width: 320px;
  --mobile-padding: 20px;
  --tablet-padding: 30px;
  --tablet-form-l-padding: 70px;
  --tablet-form-r-padding: 65px;
  --desktop-padding: 110px;
}
