:root {
  //colors
  --main-font: "Oswald", "Big Caslon", "sans-serif";
  --default-black: #000000;
  --black1: #444444;
  --black2: #111111;
  --black3: #222222;
  --default-white: #ffffff;
  --background-page: #e5e5e5;
  --green1: rgba(104, 183, 56, 0.85);
  --green2: #68b738;
}
