@use "../mixins.scss";

.example {
  width: 100%;
  padding: 0 20px;
  padding-top: 25px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--grey2);

  .example__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: left;
  }

  .example__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .example__abstract {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .example__text {
    font-family: var(--arial);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--black1);
    margin-bottom: 20px;
  }

  .example__statistic {
    display: flex;
    flex-wrap: wrap;
  }

  .example__statistic-weight {
    margin-right: auto;
  }

  .weight__number {
    display: block;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--default-black);
  }

  .weight__title {
    font-size: 12px;
    line-height: 100%;
    color: var(--black1);
  }

  .time__number {
    display: block;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--default-black);
  }

  .time__title {
    font-size: 12px;
    line-height: 100%;
    color: var(--black1);
  }

  .example__statistic-cost {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--default-black);
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .example__slider-list {
    position: relative;
    padding: 0;
    margin: 0 auto;
  }

  .slider__toggle-first {
    @include mixins.btnres;

    text-transform: uppercase;
  }

  .slider__toggle-swap {
    @include mixins.btnres;

    width: 85px;
    height: 14px;
    background-image: url("../../img/mobile/index/example-toogle.png");
    background-size: 85px 14px;
    margin: 0 13px;
  }

  .slider__toggle-second {
    @include mixins.btnres;

    text-transform: uppercase;
  }

  @include mixins.tablet-w () {
    padding: 0 var(--tablet-padding);
    padding-top: 43px;
    padding-bottom: 55px;
    background-color: var(--default-white);

    .example__title {
      font-weight: 400;
      font-size: 60px;
      line-height: 60px;
      text-align: left;
      margin-top: 0;
      margin-bottom: 63px;
    }

    .example__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 54px;
    }

    .example__statistic {
      margin-bottom: 80px;
    }

    .example__statistic-weight {
      margin-right: 42px;
    }

    .example__statistic-time {
      margin-right: auto;
    }

    .weight__title {
      font-size: 14px;
      line-height: 14px;
    }

    .weight__number {
      display: block;
      font-size: 30px;
      line-height: 37px;
    }

    .time__title {
      font-size: 14px;
      line-height: 14px;
    }

    .time__number {
      display: block;
      font-size: 30px;
      line-height: 37px;
    }

    .example__statistic-cost {
      font-size: 20px;
      line-height: 20px;
    }

    .example__slider-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0 auto;
      width: 592px;
    }

    .slider-list {
      min-height: 576px;
      margin-bottom: 0;
    }

    .fat-cat-img {
      object-fit: fill;
    }

    .slider__toggle-first {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0,0,0,0.4) 50%, transparent 50%);
        background-repeat: repeat-x;
        background-size: 6px 3px;
        bottom: 3px;
        left: 0;
      }

      &:hover::after {
        background-image: none;
        background-color: rgba(0,0,0,0.4);
      }

      &:active::after {
        content: none;
      }
    }

    .slider__toggle-wrapper {
      position: relative;
      margin: 0 auto;

      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        width: 426px;
        height: 6px;
        border-radius: 6px;
        background-color: #dcdcdc;
        inset: 0;
        left: -196px;
        top: calc(50% - 4px);
      }
    }

    .slider__toggle-swap {
      background-color: #ffffff;
      background-image: none;
      background-size: 85px 14px;
      margin: 0;
      position: relative;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      box-shadow: 0 0.5px 1px 1px var(--grey3);
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--green2);
        inset: 0;
        margin: 0 auto;
        top: calc(50% - 4px);
        z-index: 2;
      }

      &:hover {
        box-shadow: 0 2px 3px 1px var(--grey3);
      }

      &:active {
        box-shadow:
        0 2px 3px 1px var(--grey3),
        0 0 0 1px var(--green2) inset;
      }
    }

    .slider__toggle-second {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0,0,0,0.4) 50%, transparent 50%);
        background-repeat: repeat-x;
        background-size: 6px 3px;
        bottom: 3px;
        left: 0;
      }

      &:hover::after {
        background-image: none;
        background-color: rgba(0,0,0,0.4);
      }

      &:active::after {
        content: none;
      }
    }
  }

  @include mixins.desktop-w () {
    padding: 0;
    padding-top: 45px;
    grid-template-columns: 1fr auto;

    .example__title {
      margin-left: var(--desktop-padding);
    }

    .example__text {
      margin-bottom: 69px;
    }

    .example__content {
      padding: 0 var(--desktop-padding);
      background-color: var(--grey1);
      flex-direction: row;
    }

    .example__abstract {
      flex-direction: column;
      width: 436px;
      margin-right: auto;
    }

    .example__statistic {
      margin-bottom: 0;
      row-gap: 55px;
      padding-bottom: 65px;
    }

    .example__statistic-weight {
      margin-right: auto;
    }

    .weight__title {
      font-size: 14px;
      line-height: 14px;
    }

    .weight__number {
      display: block;
      font-size: 30px;
      line-height: 37px;
    }

    .time__title {
      font-size: 14px;
      line-height: 14px;
    }

    .time__number {
      display: block;
      font-size: 30px;
      line-height: 37px;
    }

    .example__statistic-cost {
      margin: 0;
      font-size: 20px;
      line-height: 20px;
    }

    .example__slider-list {
      margin: 0;
      padding: 0;
      min-height: 576px;
    }
  }
}
