@use "../mixins.scss";

.example {
  width: 100%;
  padding: 0 20px;
  padding-top: 25px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--grey2);

  .example__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: left;
  }

  .example__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .example__abstract {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .example__text {
    font-family: var(--arial);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--black1);
    margin-bottom: 20px;
  }

  .example__statistic {
    display: flex;
    flex-wrap: wrap;
  }

  .example__statistic-weight {
    margin-right: auto;
  }

  .weight__number {
    display: block;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--default-black);
  }

  .weight__title {
    font-size: 12px;
    line-height: 100%;
    color: var(--black1);
  }

  .time__number {
    display: block;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: var(--default-black);
  }

  .time__title {
    font-size: 12px;
    line-height: 100%;
    color: var(--black1);
  }

  .example__statistic-cost {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--default-black);
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .example__slider-list {
    position: relative;
    padding: 0;
    margin: 0 auto;
  }

  @include mixins.tablet-w () {
    padding: 0 var(--tablet-padding);
    padding-top: 43px;
    padding-bottom: 55px;
    background-color: var(--default-white);

    .example__title {
      font-weight: 400;
      font-size: 60px;
      line-height: 60px;
      text-align: left;
      margin-top: 0;
      margin-bottom: 63px;
    }

    .example__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 54px;
    }

    .example__statistic {
      margin-bottom: 80px;
    }

    .example__statistic-weight {
      margin-right: 42px;
    }

    .example__statistic-time {
      margin-right: auto;
    }

    .weight__title {
      font-size: 14px;
      line-height: 14px;
    }

    .weight__number {
      display: block;
      font-size: 30px;
      line-height: 37px;
    }

    .time__title {
      font-size: 14px;
      line-height: 14px;
    }

    .time__number {
      display: block;
      font-size: 30px;
      line-height: 37px;
    }

    .example__statistic-cost {
      font-size: 20px;
      line-height: 20px;
    }

    .example__slider-list {
      padding: 0;
      margin: 0 auto;
    }

    .slider-list {
      min-height: 576px;
      margin-bottom: 0;
    }
  }

  @include mixins.desktop-w () {
    padding: 0;
    padding-top: 45px;
    grid-template-columns: 1fr auto;

    .example__title {
      margin-left: var(--desktop-padding);
    }

    .example__text {
      margin-bottom: 69px;
    }

    .example__content {
      padding: 0 var(--desktop-padding);
      background-color: var(--grey1);
      flex-direction: row;
    }

    .example__abstract {
      flex-direction: column;
      width: 436px;
      margin-right: 193px;
    }

    .example__statistic {
      margin-bottom: 0;
      row-gap: 55px;
      padding-bottom: 65px;
    }

    .example__statistic-weight {
      margin-right: auto;
    }

    .weight__title {
      font-size: 14px;
      line-height: 14px;
    }

    .weight__number {
      display: block;
      font-size: 30px;
      line-height: 37px;
    }

    .time__title {
      font-size: 14px;
      line-height: 14px;
    }

    .time__number {
      display: block;
      font-size: 30px;
      line-height: 37px;
    }

    .example__statistic-cost {
      margin: 0;
      font-size: 20px;
      line-height: 20px;
    }

    .example__slider-list {
      padding: 0;
      min-height: 576px;
    }
  }
}
