@use "../mixins.scss";

.example {
  width: 100%;
  padding: 0 20px;
  padding-top: 25px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--grey2);

  .example__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: left;
  }

  .example__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .example__abstract {
    display: flex;
    flex-wrap: wrap;
  }

  .example__text {
    font-family: var(--arial);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--black1);
    margin-bottom: 20px;
  }

  .example__statistic-wrapper {
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 34px;
    width: 100%;
  }

  .example__statistic {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    min-height: 56px;
    border: 1px solid var(--grey3);
    border-radius: 3px;
  }

  .example__statistic-text {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  }

  .example__statistic-legend {
    position: absolute;
    max-width: 87px;
    text-align: center;
    background: var(--grey2);
    color: var(--black1);
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 100%;
    font-family: var(--arial);
  }

  .example__statistic-cost {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: var(--default-black);
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
    p {
      display: inline-block;
    }
  }

  .example__slider-list {
    position: relative;
    padding: 0;
    margin: 0 auto;
  }

  .slider-list__logo {
    @include mixins.listres;
    width: 100%;
    height: 232px;
  }

  .slider-list__fat-img {
    object-fit: cover;
    width: 100%;
  }

  .example__toggle-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 15px;
    span {
      font-family: 'Oswald';
      text-transform: uppercase;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .slider__toggle {
    @include mixins.btnres;
    cursor: pointer;
  }

  .slider__toggle-swap {
    @include mixins.btnres;
    position: relative;
    width: 85px;
    height: 14px;
    background-color: var(--default-white);
    border: 1px solid var(--grey3);
    border-radius: 6px;
    margin: 0 13px;
    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 6px;
      border-radius: 6px;
      background-color: var(--green2);
      left: 6px;
      top: 3px;
    }
  }

  .slider__toggle-range {
    display: none;
  }

  @include mixins.tablet-w () {
    padding: 0 var(--tablet-padding);
    padding-top: 43px;
    padding-bottom: 55px;
    background-color: var(--default-white);

    .example__title {
      font-weight: 400;
      font-size: 60px;
      line-height: 60px;
      text-align: left;
      margin-top: 0;
      margin-bottom: 63px;
    }

    .example__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 54px;
    }

    .example__abstract {
      justify-content: space-between;
      margin-bottom: 85px;
    }

    .example__statistic-wrapper {
      justify-content: flex-start;
      gap: 42px;
      width: auto;
      margin: 0;
    }

    .example__statistic {
      width: 162px;
      min-height: 72px;
    }

    .example__statistic-legend {
      bottom: -5px;
      max-width: 142px;
      white-space: nowrap;
      background: var(--default-white);
      padding: 0 8px;
      font-size: 14px;
    }

    .example__statistic-cost {
      width: auto;
      margin: 0;
      text-align: right;
      font-size: 20px;
      line-height: 20px;
      & p {
        display: block;
        margin: 0;
      }
    }

    .example__slider-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0 auto;
      width: 592px;
    }

    .slider-list {
      min-height: 576px;
      margin-bottom: 0;
    }

    .slider-list__logo {
      width: 592px;
      height: 511px;
    }

    .example__toggle-wrapper {
      margin-top: 25px;
    }

    .slider__toggle-swap {
      display: none;
    }

    .slider__toggle span {
      border-bottom: 1px dashed rgba(0,0,0,0.2);
      &:hover {
        border-bottom: 1px solid rgba(0,0,0,0.4);
      }
      &:active {
        border-bottom: none;
      }
    }

    .slider__toggle-range {
      position: relative;
      display: block;
      width: 426px;
      height: 6px;
      margin: 0 13px;
      border-radius: 6px;
      background-color: var(--grey11);
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: var(--default-white);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        box-shadow: 0 0.5px 1px 1px var(--grey3);
      }
      &::after {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: var(--green2);
        inset: 0;
        margin: 0 auto;
        top: calc(50% - 4px);
        z-index: 2;
      }
    }
  }

  @include mixins.desktop-w () {
    padding: 0;
    padding-top: 43px;
    grid-template-columns: 1fr auto;

    .example__title {
      margin-left: var(--desktop-padding);
      margin-bottom: 76px;
    }

    .example__text {
      margin: 0;
      margin-bottom: 69px;
    }

    .example__content {
      padding: 0 var(--desktop-padding);
      background-color: var(--grey1);
      flex-direction: row;
      align-items: flex-start;
    }

    .example__abstract {
      margin: 0;
      width: 436px;
      flex-direction: column;
      margin-right: auto;
    }

    .example__statistic-wrapper {
      width: auto;
      margin: 0;
      margin-bottom: 60px;
    }

    .example__statistic {
      margin-bottom: 0;
      row-gap: 55px;
    }

    .example__statistic-legend {
      background-color: var(--grey1);
    }

    .example__statistic-cost {
      display: flex;
      justify-content: flex-start;
      gap: 63px;
      margin: 0;
      font-size: 20px;
      line-height: 20px;
    }

    .example__slider-list {
      margin: 0;
      padding: 0;
      min-height: 576px;
      margin-top: -179px;
    }
  }
}
