@use "../mixins";

.invite-description {
  display: flex;
  padding: 26px 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .invite-description__info {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--black2);
    width: 140px;
  }

  .invite-description__address {
    font-family: var(--arial);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--black1);
    width: 140px;
  }

  @include mixins.tablet-w () {
    padding: 56px 70px;

    .invite-description__info {
      width: 172px;
      font-size: 20px;
      line-height: 26px;
    }

    .invite-description__address {
      width: 160px;
      font-size: 16px;
      line-height: 20px;
      text-align: right;

      span {

        display: block;
        margin-top: 20px;
      }
    }
  }

  @include mixins.tablet-w () {
    padding: 0 var(--tablet-form-l-padding);
    width: 100%;
    min-height: 198px;
  }

  @include mixins.desktop-w () {
    padding: 56px 80px;
    width: 565px;
    min-height: 198px;

    .invite-description__address {
      text-align: left;
    }
  }
}
