.invite {
  width: 100%;
  display: flex;
  flex-direction: column;

  .invite__map-grey {
    background-color: var(--grey1);
  }

  @include tablet-w () {
    .invite__description-grey {
      background-color: var(--grey1);
    }
  }

  @include desktop-w () {
    position: relative;

    .invite__description {
      position: absolute;
      left: var(--desktop-padding);
      top: 95px;
      background-color: var(--default-white);
    }

    .invite__map-grey {
      background-color: var(--default-white);
    }
  }
}
