@use "../mixins";

.invite-map {
  width: 100%;
  min-height: 320px;
}

@include mixins.tablet-w () {
  .invite-map {
    width: 100%;
    min-height: 400px;
  }
}

@include mixins.desktop-w () {
  .invite-map {
    width: 100%;
    height: 400px;
  }
}
