@use "../mixins.scss";

.main-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
  min-height: 65px;
  padding-top: 10px;
  padding-left: var(--mobile-padding);
  padding-right: var(--mobile-padding);

  .main-header__logo-link {
    margin-right: 56px;
  }

  .main-header__title-link {
    margin-right: auto;
  }

  .main-header__menu-opener {
    width: 24px;
    min-height: 16px;
    box-shadow: inset 0 0 0 3px #83b3d3;

    @include mixins.btnres();
  }

  .main-header__index-link {
    display: none;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--default-black);
  }

  .main-header__catalog-link {
    display: none;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--default-black);
  }

  .main-header__form-link {
    display: none;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--default-black);
  }

  @include mixins.tablet-w () {
    padding-top: 20px;
    padding-left: var(--tablet-padding);
    padding-right: var(--tablet-padding);
    min-height: 76px;

    .main-header__logo-link {
      margin-right: 19px;
    }

    .main-header__title-link {
      margin-right: 93px;
    }

    .main-header__menu-opener {
      display: none;
    }

    .main-header__index-link {
      display: block;
      margin-right: 33px;
    }

    .main-header__catalog-link {
      display: block;
      margin-right: 36px;
    }

    .main-header__form-link {
      display: block;
    }
  }
}
