@use "../mixins";

.main-footer {
  width: 100%;
  min-height: 236px;//переполнение
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--mobile-padding);

  .main-footer__logo {
    padding-top: 39px;
    width: 100%;
    min-height: 95px;
    position: relative;
    text-align: center;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--grey5);
      bottom: 0;
      left: 0;
    }
  }

  .contacts__icon {
    &-svg {
      fill: var(--grey9);
    }

    &:hover .contacts__icon-svg {
      fill: var(--green2);
    }

    &:active .contacts__icon-svg {
      fill: var(--green2);
      opacity: 0.3;
    }
  }

  .main-footer__references {
    display: flex;
    justify-content: space-between;
    min-height: 78px; //переполнение
    width: 100%;
    align-items: center;
    position: relative;

    &-svg {
      fill: var(--grey9);
    }

    &:hover .main-footer__references-svg {
      fill: var(--green2);
    }

    &:active .main-footer__references-svg {
      fill: var(--green2);
      opacity: 0.3;
    }

    &:active .main-footer__references-text {
      opacity: 0.3;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--grey5);
      top: 0;
      left: 0;
    }
  }

  .main-footer__contacts {
    @include mixins.listres;

    display: flex;
    min-height: 63px;
    width: 132px;
    align-items: center;

    .contacts__vk {
      margin-right: 24px;
    }

    .contacts__youtube {
      margin-right: 24px;
    }
  }

  @include mixins.tablet-w () {
    flex-direction: row;
    padding: 0 var(--tablet-padding);

    .main-footer__logo {
      &::after {
        content: none;
      }

      width: 128px;
      margin: 0;
      margin-right: 155px;
      text-align: left;
    }

    .main-footer__contacts {
      margin: 0;
      margin-right: auto;
    }

    .main-footer__references {
      &::after {
        content: none;
      }
      width: 163px;
    }
  }

  @include mixins.desktop-w () {
    padding: 0 var(--desktop-padding);

    .main-footer__logo {
      margin: 0;
      margin-right: 414px;
    }

    .main-footer__contacts {
      margin: 0;
      margin-right: auto;
    }
  }
}
