@use "../mixins.scss";

.main-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
  min-height: 65px;
  padding-top: 10px;
  color: var(--default-black);
  font-size: 18px;
  line-height: 1;

  .main-header__logo-link {
    margin-left: var(--tablet-padding);
    margin-right: 56px;
  }

  .main-header__title-link {
    margin-right: auto;
  }

  @include mixins.tablet-w () {
    padding-top: 20px;
    padding-left: var(--tablet-padding);
    padding-right: var(--tablet-padding);
    min-height: 76px;

    .main-header__logo-link {
      margin-left: 0;
      margin-right: 19px;
    }

    .main-header__title-link {
      margin-right: auto;
    }

    .header-black {
      color: var(--default-black);
    }
  }

  @include mixins.desktop-w () {
    padding-top: 53px;
    padding-left: var(--desktop-padding);
    padding-right: var(--desktop-padding);
    min-height: 76px;

    .main-header__logo-link {
      margin-right: 14px;
    }

    .main-header__title-link {
      margin-right: auto;
    }
  }
}
