@use "../mixins";

.motivation {
  position: relative;
  width: 100%;
  padding-top: 27px;
  text-align: center;
  color: var(--default-white);


  .motivation__title {
    margin: 0;
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 25px;
  }

  .motivation__text {
    display: block;
    margin: 0;
    position: relative;
    z-index: 1;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 302px;
  }

  .motivation__choose-button {
    box-sizing: content-box;
    width: 192px;
    display: block;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 7px 44px;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      background-color: var(--green3);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .motivation__decor {
    position: absolute;
    top: 0;
    width: 100%;
    height: 302px;
    background-image: url("../../img/mobile/index/motivation-background.jpg");

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--green1);
    }
  }

  @include mixins.tablet-w () {
    padding-top: 62px;
    background-image: none;
    padding-left: var(--tablet-padding);
    padding-right: var(--tablet-padding);
    color: var(--default-black);
    text-align: start;

    .motivation__title {
      position: relative;
      z-index: 1;
      font-weight: 400;
      font-size: 60px;
      line-height: 1;
      margin-bottom: 41px;
      width: 414px;
      margin-left: 97px;
      min-height: 120px;
    }

    .motivation__text {
      position: static;
      font-size: 20px;
      line-height: 1;
      text-transform: uppercase;
      margin-left: 97px;
      margin-bottom: 49px;
    }

    .motivation__choose-button {
      padding: 14px 26px;
      margin: 0;
      margin-left: 91px;
      margin-bottom: 526px;
    }

    .motivation__decor {
      display: none;
    }
  }

  @include mixins.desktop-w () {
    padding-top: 111px;
    min-height: calc(694px - 91px);

    .motivation__decor {
      display: block;
      position: absolute;
      top: -91px;
      right: 0;
      left: auto;
      width: 720px;
      height: 694px;
      background-image: url("../../img/desktop/index/motivation-background.png");

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--green1);
      }
    }

    .motivation__title {

    }

    .motivation__text {

    }

    .motivation__choose-button {
      margin-bottom: 0;
    }
  }
}

.motivation::after {
  content: "";
  position: absolute;
  background-image: url("../../img/mobile/index/motivation-background-food.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 280px;
  height: 270px;
  bottom: 43px;
  left: var(--mobile-padding);
  z-index: 0;

  @include mixins.tablet-w () {
    background-image: url("../../img/tablet/index/motivation-food-background.png");
    width: 709px;
    height: 609px;
    bottom: 0;
    left: var(--tablet-padding);
    z-index: 0;
  }

  @include mixins.desktop-w () {
    background-image: url("../../img/desktop/index/motivation-food-background.png");
    width: 552px;
    height: 499px;
    top: 32px;
    right: 330px;
    left: auto;
    z-index: 1;
  }
}
