@use "./../mixins";

.motivation {
  position: relative;
  width: 100%;
  padding-top: 27px;
  text-align: center;
  color: var(--default-white);

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/mobile/index/motivation-background.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 302px;
    top: 0;
    left: 0;

    @include retina () {
      background-image: url("../img/mobile/index/motivation-background2x.png");
      background-size: 100% auto;
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/mobile/index/motivation-background-food.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 280px;
    height: 270px;
    bottom: 43px;
    left: var(--mobile-padding);
    z-index: 0;

    @include retina () {
      background-image: url("../img/mobile/index/motivation-background-food2x.png");
      background-size: 280px 270px;
    }


    @include tablet-w () {
      background-image: url("../img/tablet/index/motivation-food-background-tablet.png");
      width: 709px;
      height: 609px;
      bottom: 0;
      left: var(--tablet-padding);
      z-index: 0;

      @include retina () {
        background-image: url("../img/tablet/index/motivation-food-background-tablet2x.png");
        background-size: 709px 609px;
      }
    }


    @include desktop-w () {
      background-image: url("../img/desktop/index/motivation-food-background-desktop.png");
      width: 552px;
      height: 499px;
      top: 32px;
      right: 330px;
      left: auto;
      z-index: 1;

      @include retina () {
        background-image: url("../img/desktop/index/motivation-food-background-desktop2x.png");
        background-size: 552px 499px;
      }
    }
  }

  .motivation__title {
    margin: 0;
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 25px;
  }

  .motivation__text {
    display: block;
    margin: 0;
    position: relative;
    z-index: 1;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 302px;
  }

  .motivation__choose-button {
    box-sizing: content-box;
    width: 192px;
    display: block;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 7px 44px;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      background-color: var(--green3);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  @include tablet-w () {
    padding-top: 62px;
    background-image: none;
    padding-left: var(--tablet-padding);
    padding-right: var(--tablet-padding);
    color: var(--default-black);
    text-align: start;

    &::before {
      content: none;
    }

    .motivation__title {
      position: relative;
      z-index: 1;
      font-weight: 400;
      font-size: 60px;
      line-height: 1;
      margin-bottom: 41px;
      width: 414px;
      margin-left: 97px;
      min-height: 120px;
    }

    .motivation__text {
      position: static;
      font-size: 20px;
      line-height: 1;
      text-transform: uppercase;
      margin-left: 97px;
      margin-bottom: 49px;
    }

    .motivation__choose-button {
      padding: 14px 26px;
      margin: 0;
      margin-left: 91px;
      margin-bottom: 526px;
      font-size: 20px;
      line-height: 26px;
    }

    .motivation__decor {
      display: none;
    }
  }

  @include desktop-w () {
    padding: 0 var(--desktop-padding);
    padding-top: 111px;
    min-height: calc(694px - 114px);

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/desktop/index/motivation-background-desktop.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 50%;
      height: 694px;
      top: -114px;
      right: 0;
      left: auto;
      background-size: 100% auto;

      @include retina () {
        background-image: url("../img/desktop/index/motivation-background-desktop2x.png");

      }
    }

    .motivation__title {
      margin-left: 80px;
    }

    .motivation__text {
      margin-bottom: 52px;
      margin-left: 80px;
    }

    .motivation__choose-button {
      margin-bottom: 0;
      margin-left: 80px;
    }
  }
}


.motivation__wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  background-color: var(--default-white);

  @include mixins.tablet-w () {
    max-width: var(--tablet-width);
  }

  @include mixins.desktop-w () {
    max-width: var(--desktop-width);
  }
}
