@use "../mixins";

.motivation {
  position: relative;
  width: 100%;
  background-image: url("../../img/mobile/index/motivation-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 302px;
  z-index: 0;
  padding-top: 27px;


  .motivation__title {
    margin: 0;
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: var(--default-white);
    margin-bottom: 25px;
  }

  .motivation__text {
    display: block;
    margin: 0;
    position: relative;
    z-index: 1;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    text-align: center;
    color: var(--default-white);
    margin-bottom: 302px;
  }

  .motivation__choose-button {
    box-sizing: content-box;
    width: 192px;
    display: block;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 7px 44px;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
  }

  @include mixins.tablet-w () {
    padding-top: 62px;
    background-image: none;
    padding-left: var(--tablet-padding);
    padding-right: var(--tablet-padding);

    .motivation__title {
      position: relative;
      z-index: 1;
      font-weight: 400;
      font-size: 60px;
      line-height: 1;
      color: var(--default-black);
      margin-bottom: 41px;
      width: 414px;
      margin-left: 97px;
      min-height: 120px;
      text-align: left;
    }

    .motivation__text {
      position: static;
      font-size: 20px;
      line-height: 1;
      text-transform: uppercase;
      color: var(--default-black);
      text-align: start;
      margin-left: 97px;
      margin-bottom: 49px;
    }

    .motivation__choose-button {
      padding: 14px 26px;
      margin: 0;
      margin-left: 91px;
      margin-bottom: 526px;
    }
  }

  @include mixins.desktop-w () {
    // background-image: url("../../img/tablet/index/motivation-background.png");
    // background-position-x: right;
    // background-position-y: top -76px;
    // background-size: 720px 696px;

    .motivation__text::before {
      content: "";
      position: absolute;
      background-image: url("../../img/desktop/index/motivation-background.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 1044px;
      height: 694px;
      z-index: 0;
      top: -76px;
      right: calc(720px - 1044px);
      left: auto;
    }
  }

}

.motivation::before {
  content: "";
  position: absolute;
  background-color: var(--green1);
  width: 320px;
  height: 302px;
  inset: 0;
  z-index: 0;

  @include mixins.tablet-w () {
    content: none;
  }

  @include mixins.desktop-w () {
    content: "";
    top: -76px;
    right: 0;
    left: auto;
    width: 720px;
    height: 694px;
    z-index: 1;
  }
}

.motivation::after {
  content: "";
  position: absolute;
  background-image: url("../../img/mobile/index/motivation-background-food.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 280px;
  height: 270px;
  bottom: 43px;
  left: var(--mobile-padding);
  z-index: 0;

  @include mixins.tablet-w () {
    background-image: url("../../img/tablet/index/motivation-food-background.png");
    width: 709px;
    height: 609px;
    bottom: 0;
    left: var(--tablet-padding);
    z-index: 0;
  }

  @include mixins.desktop-w () {
    background-image: url("../../img/desktop/index/motivation-food-background.png");
    width: 552px;
    height: 499px;
    top: 32px;
    right: 330px;
    left: auto;
    z-index: 1;
  }

}



