.page {
  .page__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    background-color: var(--default-white);
  }
}
