.page {
  .page__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    background-color: var(--default-white);
  }

  @media (min-width: var(--tablet-width)) {
    .page__wrapper {
      max-width: var(--desktop-width);
      background-color: var(--default-black);
    }
  }

  @media (min-width: var(--desktop-width)) {
    .page__wrapper {
      max-width: 100%;
    }
  }
}
