@use "../mixins.scss";

.program {
  width: 100%;
  padding: 0 var(--mobile-padding);
  padding-top: 20px;

  .program__list {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;

    @include mixins.listres();
  }

  .program__list-item {
    position: relative;
    padding-top: 30px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--grey1);
  }

  .program__item-small {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/mobile/index/program-small-cat.png");
      background-repeat: no-repeat;
      width: 50px;
      height: 53px;
      top: 21px;
      left: 22px;
    }
  }

  .program__item-big {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/mobile/index/program-big-cat.png");
      background-repeat: no-repeat;
      width: 67px;
      height: 50px;
      top: 24px;
      left: 13px;
    }
  }


  .program__list-title {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: var(--default-black);
    margin-bottom: 30px;
    margin-left: 91px;
  }

  .program__list-text {
    display: block;
    width: calc((227 / 280) * 100%);
    margin: 0;
    font-family: var(--arial);
    font-size: 14px;
    line-height: 18px;
    text-transform: lowercase;
    color: var(--black1);
    margin-bottom: 38px;
  }

  .program__list-link {
    position: relative;
    width: 134px;
    display: block;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    color: var(--default-black);
    margin-bottom: 18px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../../img/mobile/index/program-arrow.png");
      background-repeat: no-repeat;
      width: 24px;
      height: 12px;
      top: 3px;
      right: 8px;
    }
  }

  @include mixins.tablet-w () {
    padding: 0 var(--tablet-padding);

    .program__list {
      display: grid;
      grid-template-columns: auto;
      gap: 30px;
    }

    .program__list-item {
      padding-top: 77px;
      padding-left: 52px;
      padding-right: 62px;
    }

    .program__list-title {
      font-size: 36px;
      line-height: 36px;
    }

    .program__list-text {
      font-size: 14px;
      line-height: 18px;
      width: 227px;
      height: 90px;
    }

    .program__list-link {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 57px;
    }
  }

  @include mixins.desktop-w () {
    padding: 0 var(--desktop-padding);
    padding-top: 82px;

    .program__list {
      display: grid;
      grid-template-columns: (repeat(auto-fit, minmax(570px, 1fr)));
      gap: 80px;
    }

    .program__list-item {
      padding-top: 77px;
      padding-left: 52px;
      padding-right: 61px;
    }

    .program__list-title {
      font-size: 36px;
      line-height: 36px;
      text-align: center;
      margin-bottom: 73px;
    }

    .program__list-text {
      font-size: 14px;
      line-height: 18px;
      width: 227px;
      height: 90px;
      margin-bottom: 23px;
    }

    .program__list-link {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 55px;
    }
  }
}
