@use "../mixins.scss";

.program {
  width: 100%;
  padding: 0 var(--mobile-padding);
  padding-top: 20px;

  .program__list {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;

    @include mixins.listres();
  }

  .program__list-item {
    position: relative;
    padding-top: 30px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--grey1);
  }

  .program__item-small {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/mobile/index/program-small-cat.png");
      background-repeat: no-repeat;
      width: 50px;
      height: 53px;
      top: 21px;
      left: 22px;

      @include mixins.retina () {
        background-image: url("../../img/mobile/index/program-small-cat2x.png");
        background-size: cover;
      }
    }

  }

  .program__item-big {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/mobile/index/program-big-cat.png");
      background-repeat: no-repeat;
      width: 67px;
      height: 50px;
      top: 24px;
      left: 13px;

      @include mixins.retina () {
        background-image: url("../../img/mobile/index/program-big-cat2x.png");
        background-size: cover;
      }
    }
  }


  .program__list-title {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: var(--default-black);
    margin-bottom: 30px;
    margin-left: 91px;
  }

  .program__list-text {
    display: block;
    width: calc((227 / 280) * 100%);
    margin: 0;
    font-family: var(--arial);
    font-size: 14px;
    line-height: 18px;
    text-transform: lowercase;
    color: var(--black1);
    margin-bottom: 38px;
  }

  .program__list-link {
    position: relative;
    width: 134px;
    display: block;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    color: var(--default-black);
    margin-bottom: 18px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='12' viewBox='0 0 24 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000' stroke-width='2' d='M0 6h18'/%3E%3Cpath d='m24 6-6.75 5.196V.804L24 6Z' fill='%23000'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      width: 24px;
      height: 12px;
      top: 3px;
      right: 8px;
    }
// не работает
    &:hover::after {
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='12' viewBox='0 0 32 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000' stroke-width='2' d='M0 6h18'/%3E%3Cpath d='m24 6-6.75 5.196V.804L24 6Z' fill='%23000'/%3E%3C/svg%3E");
      width: 32px;
      right: 0;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include mixins.tablet-w () {
    padding: 0 var(--tablet-padding);

    .program__list {
      display: grid;
      grid-template-columns: auto;
      gap: 30px;
    }

    .program__list-item {
      padding-top: 77px;
      padding-left: 52px;
      padding-right: 52px;
    }

    .program__item-small {
      &::before {
        left: auto;
        top: 81px;
        right: 62px;
        background-image: url("../../img/tablet/index/program-small-cat-tablet.png");
        width: 200px;
        height: 211px;

        @include mixins.retina () {
          background-image: url("../../img/tablet/index/program-small-cat-tablet2x.png");
          background-size: cover;
        }
      }
    }

    .program__item-big {
      &::before {
        left: auto;
        top: 91px;
        right: 28px;
        background-image: url("../../img/tablet/index/program-big-cat-tablet.png");
        width: 268px;
        height: 200px;

        @include mixins.retina () {
          background-image: url("../../img/tablet/index/program-big-cat-tablet2x.png");
          background-size: cover;
        }
      }
    }

    .program__list-title {
      font-size: 36px;
      line-height: 36px;
      text-align: left;
      margin-left: 0;
      margin-bottom: 34px;
    }

    .program__list-text {
      font-size: 14px;
      line-height: 18px;
      width: 340px;
      height: 90px;
    }

    .program__list-link {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 57px;
      padding-top: 4px;
      padding-bottom: 4px;
      width: 165px;

      &::after {
        content: "";
        position: absolute;
        background-image: url("../../img/mobile/index/program-arrow.png");
        background-repeat: no-repeat;
        width: 24px;
        height: 12px;
        top: 12px;
        right: 0;
      }
    }
  }

  @include mixins.desktop-w () {
    padding: 0 var(--desktop-padding);
    padding-top: 80px;


    .program__list {
      display: grid;
      grid-template-columns: (repeat(auto-fit, minmax(570px, 1fr)));
      gap: 80px;
    }

    .program__list-item {
      padding-top: 77px;
      padding-left: 52px;
      padding-right: 51px;
      padding-bottom: 55px;

    }

    .program__item-small {
      &::before {
        left: 51px;
        top: 41px;
        right: auto;
        background-image: url("../../img/desktop/index/program-small-cat-desktop.png");
        width: 100px;
        height: 106px;

        @include mixins.retina () {
          background-image: url("../../img/desktop/index/program-small-cat-desktop2x.png");
          background-size: cover;
        }
      }
    }

    .program__item-big {
      &::before {
        left: 33px;
        top: 47px;
        right: auto;
        background-image: url("../../img/desktop/index/program-big-cat-desktop.png");
        width: 134px;
        height: 100px;

        @include mixins.retina () {
          background-image: url("../../img/desktop/index/program-big-cat-desktop2x.png");
          background-size: cover;
        }
      }
    }

    .program__list-title {
      font-size: 36px;
      line-height: 36px;
      text-align: center;
      margin-bottom: 73px;
    }

    .program__list-text {
      font-size: 14px;
      line-height: 18px;
      width: 100%;
      height: 90px;
      margin-bottom: 23px;
    }

    .program__list-link {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
    }
  }
}
