@use "../mixins.scss";

.specification {
  width: 100%;
  padding: 0 20.5px;
  padding-bottom: 49px;

  .specification__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: var(--default-black);
  }

  .specification__list {
    @include mixins.listres;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .specification__item {
    position: relative;
    padding-left: 80px;
  }

  .specification__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .specification__item-function {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/mobile/index/specification-function-img.png");
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      top: -3px;
      left: 0;
    }
  }

  .specification__item-structure {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/mobile/index/specification-structure-img.png");
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      top: -3px;
      left: 0;
    }
  }

  .specification__item-replace {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/mobile/index/specification-replace-img.png");
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      top: -3px;
      left: 0;
    }
  }

  .specification__item-time {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../../img/mobile/index/specification-time-img.png");
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      top: -3px;
      left: 0;
    }
  }

  .specification__description {
    margin: 0;
  }

  @include mixins.tablet-w () {
    padding: 0 var(--tablet-padding);

    .specification__title {
      font-size: 60px;
      line-height: 60px;
      text-align: left;
    }

    .specification__list {
      flex-direction: row;
      justify-content: flex-start;
    }

    .specification__item {
      padding: 0;
      min-height: 280px;
    }

    .specification__item:not(:last-child) {
      margin-bottom: 0;
    }

    .specification__item-function {
      order: 0;
      width: 230px;
      margin-right: auto;
    }

    .specification__item-structure {
      order: 1;
      width: 246px;
    }

    .specification__item-replace {
      order: 2;
      width: 247px;
      margin-right: auto;
      margin-top: 37px;
    }

    .specification__item-time {
      order: 3;
      width: 249px;
      margin-top: 37px;
    }
  }

  @include mixins.desktop-w () {
    padding: 0 var(--desktop-padding);

    .specification__title {
      font-size: 60px;
      line-height: 60px;
      text-align: left;
    }

    .specification__list {
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 26px;
    }

    .specification__item {
      padding: 0;
      min-height: 280px;
    }

    .specification__item:not(:last-child) {
      margin-bottom: 0;
    }

    .specification__item-function {
      order: 0;
      width: 230px;
      margin-right: 94px;
    }

    .specification__item-structure {
      order: 1;
      width: 246px;
      margin-right: 80px;
    }

    .specification__item-replace {
      order: 2;
      width: 248px;
      margin: 0;
      margin-right: auto;
    }

    .specification__item-time {
      order: 3;
      width: 250px;
      margin: 0;
    }
  }
}
