@use "../mixins.scss";

.specification {
  width: 100%;
  padding: 0 20.5px;
  padding-bottom: 49px;

  .specification__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: var(--default-black);
    margin-top: 0;
  }

  .specification__list {
    @include mixins.listres;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .specification__item {
    position: relative;
    padding-left: 80px;
    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
      top: -3px;
      left: 0;
    }

    &-function::before {
      background-image: url("../../img/mobile/index/specification-function.png");

      @include mixins.retina () {
        background-image: url("../../img/mobile/index/specification-function2x.png");
        background-size: cover;
      }
    }

    &-structure::before {
      background-image: url("../../img/mobile/index/specification-structure.png");

      @include mixins.retina () {
        background-image: url("../../img/mobile/index/specification-structure2x.png");
        background-size: cover;
      }
    }

    &-replace::before {
      background-image: url("../../img/mobile/index/specification-replace.png");

      @include mixins.retina () {
        background-image: url("../../img/mobile/index/specification-replace2x.png");
        background-size: cover;
      }
    }

    &-time::before {
      background-image: url("../../img/mobile/index/specification-time.png");

      @include mixins.retina () {
        background-image: url("../../img/mobile/index/specification-time2x.png");
        background-size: cover;
      }
    }
  }

  .specification__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .specification__description {
    margin: 0;
  }

  @include mixins.tablet-w () {
    padding: 0 var(--tablet-padding);
    padding-top: 45px;
    padding-bottom: 47px;


    .specification__title {
      font-size: 60px;
      line-height: 60px;
      text-align: left;
    }

    .specification__list {
      flex-direction: row;
      justify-content: flex-start;
      row-gap: 37px;
    }

    .specification__item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0;
      padding-bottom: 57px;
      min-height: 280px;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &:nth-child(odd) {
        margin-right: auto;
      }

      &::before {
        width: 80px;
        height: 80px;
        top: 40px;
      }

      &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        height: 280px;
        top: 0;
        right: 0;
      }

      &-function {
        &::before {
          background-image: url("../../img/tablet/index/specification-function-tablet.png");

          @include mixins.retina () {
            background-image: url("../../img/tablet/index/specification-function-tablet2x.png");
            background-size: cover;
          }
        }

        &::after {
          background-image: url("../../img/tablet/index/specification-1.png");
          width: 112px;


          @include mixins.retina () {
            background-image: url("../../img/tablet/index/specification-1-2x.png");
          }
        }
        order: 0;
        width: 230px;
      }

      &-structure {
        &::before {
          background-image: url("../../img/tablet/index/specification-structure-tablet.png");

          @include mixins.retina () {
            background-image: url("../../img/tablet/index/specification-structure-tablet2x.png");
            background-size: cover;
          }
        }

        &::after {
          background-image: url("../../img/tablet/index/specification-2.png");
          width: 134px;

          @include mixins.retina () {
            background-image: url("../../img/tablet/index/specification-2-2x.png");
          }
        }
        order: 1;
        width: 246px;
      }

      &-replace {
        &::before {
          background-image: url("../../img/tablet/index/specification-replace-tablet.png");

          @include mixins.retina () {
            background-image: url("../../img/tablet/index/specification-replace-tablet2x.png");
            background-size: cover;
          }
        }

        &::after {
          background-image: url("../../img/tablet/index/specification-3.png");
          width: 134px;

          @include mixins.retina () {
            background-image: url("../../img/tablet/index/specification-3-2x.png");
          }
        }
        order: 2;
        width: 247px;
      }

      &-time {
        &::before {
          background-image: url("../../img/tablet/index/specification-time-tablet.png");

          @include mixins.retina () {
            background-image: url("../../img/tablet/index/specification-time-tablet2x.png");
            background-size: cover;
          }
        }

        &::after {
          background-image: url("../../img/tablet/index/specification-4.png");
          width: 136px;

          @include mixins.retina () {
            background-image: url("../../img/tablet/index/specification-4-2x.png");
          }
        }
        order: 3;
        width: 249px;
      }
    }

    .specification__description {
      position: relative;
      z-index: 2;
    }
  }

  @include mixins.desktop-w () {
    padding: 0 var(--desktop-padding);
    padding-top: 71px;
    padding-bottom: 26px;

    .specification__title {
      font-size: 60px;
      line-height: 60px;
      text-align: left;
    }

    .specification__list {
      flex-direction: row;
      justify-content: flex-start;
    }

    .specification__item {
      min-height: 280px;
    }

    .specification__item:not(:last-child) {
      margin-bottom: 0;
    }

    .specification__item-function {
      order: 0;
      width: 230px;
      margin-right: 94px;
    }

    .specification__item-structure {
      order: 1;
      width: 246px;
      margin-right: 80px;
    }

    .specification__item-replace {
      order: 2;
      width: 248px;
      margin: 0;
      margin-right: auto;
    }

    .specification__item-time {
      order: 3;
      width: 250px;
      margin: 0;
    }
  }
}
